body {
    margin: 0;
    font-family: "sans-serif";
    background: black;
}

.break{
    display:block;
    margin:0 0 1em;
}

.container-fluid {
    padding: 0;
}

.logo {
    position: absolute;
    right: 0;
    left: 0;
    width: 60vw;
    height: auto;
    margin: 0 auto;
}

.home {
    padding-top: 40px;
    color: #000;
}

.page {
    color: #ff0063;
    padding-top: 75px;
    padding-left: 75px;
    padding-right: 75px;
    font-family: "hk-grotesk-bold";
    font-weight: bold;
    font-size:25px;
}

.scramble {
    margin-top: 400px;
    text-align: center;
    font-family: "Ropa Sans", sans-serif;
    font-size: 45px;
}

p {
    font-size: 16px;
    font-family: "hk-grotesk";
    color: ghostwhite;
}

.text-shadow {
    text-shadow: -1.5px 1px #ff0063;
}

.icon {
    display: none;
    margin-right: 10px;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: black;
}


ul {
    list-style-type: none;
    position: fixed;
    padding: 16px;
    width: 100%;
}

li  {
    background-color: transparent;
    color: black;
    font-family: "hk-grotesk-bold";
    float: left;
}

ul.topnav {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#shuffle-text {
    color: white;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}


ul.topnav li.icon {display: none;}

#menu {
    color: white;
    z-index: 100;
}

.topnav-right {
    float: right;
    margin-right: 10px;
}

li {
   float: left;
}

.col-xs-6 {
    color: ghostwhite;
    font-family: "hk-grotesk";
}

h3 {
    font-size: 20px;
    font-weight: 900;
}

h4 {
    color: ghostwhite;
    font-size: 16px;
    opacity: 0.65;
}

@font-face {
  font-family: 'hk-grotesk-bold';
  src: url('fonts/hk-grotesk/HKGrotesk-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/hk-grotesk/HKGrotesk-Bold?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/hk-grotesk/HKGrotesk-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/hk-grotesk/HKGrotesk-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/hk-grotesk/HKGrotesk-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'hk-grotesk';
  src: url('fonts/hk-grotesk/HKGrotesk-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/hk-grotesk/HKGrotesk-Light?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/hk-grotesk/HKGrotesk-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/hk-grotesk/HKGrotesk-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/hk-grotesk/HKGrotesk-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}


/* Media queries! */

@media screen and (max-width:1050px) {
    .submission {
        overflow-y: scroll;
    }
    
    .home {
         padding-top: 100px;
    }
    
    .scramble {
        margin-top: 300px;
    }
}

@media screen and (max-width:680px) {
    
    .scramble {
        margin-top: 200px;
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    ul.topnav li:not(:first-child) {
        display: none;
    }

    ul.topnav li.icon {
        display: inline-block;
        float: right;
    }

    ul.topnav.responsive{
        background-color: rgba(0,0,0,0.8);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    ul.topnav.responsive {position: fixed;}
    
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
        transition: 0.3s;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
        transition: 0.3s;
    }

    ul.topnav.responsive li:not(:first-child) a:hover {
        display: inline-block;
        color: #ff0063;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
}